.about {
  .button--gray {
    display: none;
  }
  
  @include md {
    .row {
      flex-direction: column;
    }

    .button--gray {
      display: block;
      margin: 25px auto -25px;
      border-radius: 15px 15px 0 0;
    }
    
    .col--50 {
      margin: 0 auto;
      width: 65%;

      &:last-child {
        display: none;
      }
    }

    .title {
      text-align: center;
    }

    img {
      border-radius: 15px;
    }
  }

  @include xs {
    .col--50 {
      width: 100%;
    }

    img {
      border-radius: 0 0 15px 15px;
    }
  }

  &__block {
    margin-right: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}