.feedback {
  background: url('../img/feedback-back.png') no-repeat;
  background-position: top 28px right 166px;
  margin-bottom: -2px;
  padding: 69px 0 119px;

  .container {
    position: relative; 
  }

  .title {
    margin-bottom: 80px;
  }

  &__socials {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}