.footer {
  background-color: $grayLight;
  padding: 20px 0;
  margin: 0;

  @include md {
    margin-bottom: 80px;
  }

  &__link {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;

      @include sm {
        margin-bottom: 0;
      }
    }

    @include sm {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__contacts {
    margin-left: auto;
    
    .contacts__link {
      color: $white;

      &:last-child {  
        @include sm {
          margin-bottom: 0;
        }
      }
      
      @include sm {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .icon {
      fill: $white;
    }

    &:first-child {
      margin-left: 0;
    }

    @include sm {
      flex-direction: column;
    }
  }
}