.hero
    background: #C1BDAD
    padding-top: 50px
    padding-bottom: 65px
    &__block
        display: flex
        justify-content: space-between
        &--info
            max-width: 540
            width: 100%
        &--slider
            display: flex
            align-items: center
    &__title
        font-size: 56px
        line-height: 60px
        color: $black
        font-weight: 400
        margin-bottom: 75px
    &__secondTitle
        font-weight: 400
        font-size: 36px
        line-height: 42px
        color: $black
        max-width: 540px
        width: 100%
    &__slider
        &--button
            width: 50px
            height: 50px
            background: none
            border: none
            cursor: pointer
            margin-right: 25px
            &:last-child
                margin-right: 0
                margin-left: 25px
        &--like
            position: absolute
            right: 52%
            top: 78%
       
                