.hero
    background: $gray
    padding-top: 50px
    padding-bottom: 35px
    .container 
        align-items: flex-start
    &__block
        max-width: 540px
        margin-right: auto
        width: 100%
        .title 
            margin-bottom: 75px
    &__slider 
        max-width: 635px
        width: 100%
        margin-top: -11px