.links {
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 27px;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        margin-bottom: 5px;
      }
    }
}