.nav {
  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    text-decoration: none;
    margin-right: 50px;

    &:first-child {
      margin-right: 130px;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}