.text {
  font-weight: 400;
  color: $gray;

  &__block {
    .text {
      margin-bottom: 20px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--reverce {
      .text {
        text-align: right;
      }
    }
  }

  &--white {
    color: $white;
  }
 
  &--no-margin {
    margin-bottom: 0!important;
  }

  &--xs {
    font-size: 14px;
    line-height: 14px;
  }

  &--sm {
    font-size: 16px;
    line-height: 18px;
  }

  &--md {
    font-size: 20px;
    line-height: 24px;
  }

  &--big {
    font-size: 26px;
    font-weight: 26px;
  }

  &--large {
    font-size: 36px;
    line-height: 42px;
  }

  strong {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  span {
    font-size: 20px;
    line-height: 24px;
  }
}